
    <div class="mainHeader" >
        <div class="allStocks" id="allStocks" >
            <%= link_to 'All', stocks_path %> 
        </div> 
        <div class="myStocks" id="myStocks" >
            <%= link_to 'Mystocks', mystocks_path %> 
        </div>

    </div>

    <div class="searchMain">
        <table class="searchTable">
            <tr >
                <th style="width:40%">Symbol</th>
                <th style="width:19%">Price</th>
                <th style="width:18%">Change</th> 
                <th style="width:9%">Delete</th>  
            </tr> 
        </table> 

    <% if current_user %>
        <% @stocks.each do |s| %>       
        <li class="all">
            <table class="mainTable">
                <tr class="tableName">
                    <td class='ticker' > 
                            <%= link_to s.stock_name, stock_path(s.stock_name) %>
                            <p> 
                            </p> 
                    </td>    
                    <td class='price' >
                        <% @rowarraydisp.each do |row| %> 
                            <% if row[0] == s.stock_name %>
                                <%= row[3] %>
                            <% end %>
                        <%end%>
                          
                    </td>
                    <td class='perCha' id='perChange' >
                        <% @rowarraydisp.each do |row| %> 
                            <% if row[0] == s.stock_name %>
                                <%= row[6] %>
                            <% end %>
                        <%end%>          
                     </td>
                    <td class='add' id='add'  style='width:10%'>
                        <p id='pp'>
                            <% if current_user  %>
                                <%= link_to "x", s, id: 'delBttn', remote: true, method: :delete %> 
            
                            <% end %> 
                        </p>
                    </td>
                    
                </tr>
            </table>
        </li> 
        <% end %>
      
    <% end %>
 
    </div>